*.o
*.a
.depend
pg_*.c
pg_*.o
pg_*.d
pg_*.kld
libu
makl
src/kloned/kloned
contrib/iocat/iocat
contrib/iowc/iowc
doc/doxy/kl1.doxy
doc/doxy/html
Makefile.conf
autogen.*
site/register.c
src/tools/klone/klone
tags
skin/default/Makefile
klone_conf.h

