# $Id: README.dist,v 1.8 2007/12/14 10:11:28 tho Exp $

$ cvs co KL/{klone,libu,makl}
$ cd KL/klone
$ [ -L libu ] || ln -s ../libu
$ [ -L makl ] || ln -s ../makl
$ cd skin/default && make -f Makefile.dist 
