H1 { text-align: center; }
CAPTION { font-weight: bold }
A.qindex {}
A.qindexRef {}
A.el { text-decoration: none; font-weight: bold }
A.elRef { font-weight: bold }
A.code { text-decoration: none; font-weight: normal; color: #4444ee }
A.codeRef { font-weight: normal; color: #4444ee }
DL.el { margin-left: -1cm }
DIV.ah { background-color: black; font-weight: bold; color: #ffffff; margin-bottom: 3px; margin-top: 3px }
TD.md { background-color: #f2f2ff; font-weight: bold; }
TD.mdname1 { background-color: #f2f2ff; font-weight: bold; color: #602020; }
TD.mdname { background-color: #f2f2ff; font-weight: bold; color: #602020; width: 600px; }
DIV.groupHeader { margin-left: 16px; margin-top: 12px; margin-bottom: 6px; font-weight: bold }
DIV.groupText { margin-left: 16px; font-style: italic; font-size: smaller }
SPAN.keyword       { color: #008000 }
SPAN.keywordtype   { color: #604020 }
SPAN.keywordflow   { color: #e08000 }
SPAN.comment       { color: #800000 }
SPAN.preprocessor  { color: #806020 }
SPAN.stringliteral { color: #002080 }
SPAN.charliteral   { color: #008080 }
P.formulaDsp { text-align: center; }
IMG.formulaDsp { }
IMG.formulaInl { vertical-align: middle; }
DIV.fragment {
	width: 98%;
	border: 1px solid #CCCCCC;
	background-color: #e5e5f9;
	padding-left: 4px;
	margin: 4px;
}
.navbar1 DIV { color: #000000; text-decoration: none; cursor: pointer; }
.navbar1 DIV:hover { text-decoration: underline; background-color: #f2f2f2; cursor: pointer; }
.navbar2 DIV { color: #000000; text-decoration: none; cursor: pointer; }
.navbar2 DIV:hover { text-decoration: underline; background-color: #dae8f7; cursor: pointer; }
.navbar3 DIV { color: #000000; text-decoration: none; cursor: pointer; }
.navbar3 DIV:hover { text-decoration: underline; background-color: #daf7e8; cursor: pointer; }
.navbar1 A { color: #000000; text-decoration: none; cursor: pointer; }
.navbar1 A:hover { text-decoration: underline; background-color: #f2f2f2; cursor: pointer; }
.navbar2 A { color: #000000; text-decoration: none; cursor: pointer; }
.navbar2 A:hover { text-decoration: underline; background-color: #dae8f7; cursor: pointer; }
.navbar3 A { color: #000000; text-decoration: none; cursor: pointer; }
.navbar3 A:hover { text-decoration: underline; background-color: #daf7e8; cursor: pointer; }
.fragment {
       font-family: Fixed, monospace;
       font-size: 90%;
}
PRE.fragment {
       font-family: monospace
	border: 1px solid #CCCCCC;
	background-color: #e5e5f9;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 2px;
	margin-right: 8px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}

DIV.navbar1       { color: #000000; text-decoration: none; cursor: pointer; }
DIV.navbar1_hover { text-decoration: underline; background-color: #f2f2f2; cursor: pointer; }
DIV.navbar1:hover { text-decoration: underline; background-color: #f2f2f2; cursor: pointer; }
DIV.navbar2       { color: #000000; text-decoration: none; cursor: pointer; }
DIV.navbar2_hover { text-decoration: underline; background-color: #dae8f7; cursor: pointer; }
DIV.navbar2:hover { text-decoration: underline; background-color: #dae8f7; cursor: pointer; }
DIV.navbar3       { color: #000000; text-decoration: none; cursor: pointer; }
DIV.navbar3_hover { text-decoration: underline; background-color: #daf7e8; cursor: pointer; }
DIV.navbar3:hover { text-decoration: underline; background-color: #daf7e8; cursor: pointer; }


 .not_i   { background-color: #fee; }
 .not_a   { background-color: #eef; }
 .progr   { background-color: #ffc; }
 .imple   { background-color: #efe; }

 .diff1   { background-color: #fee; text-align: center; }
 .diff2   { background-color: #fdd; text-align: center; }
 .diff3   { background-color: #fcc; text-align: center; }
 .diff4   { background-color: #fbb; text-align: center; }
 .diff5   { background-color: #faa; text-align: center; }
 .diff6   { background-color: #f99; text-align: center; }
 .diff7   { background-color: #f88; text-align: center; }
 .diff8   { background-color: #f77; text-align: center; }
 .diff9   { background-color: #f66; text-align: center; }
 .diff10  { background-color: #f55; text-align: center; }

SPAN.dlink { text-decoration: underline; color: #0000FF; cursor: pointer; }
DIV.dlinfo { padding: 5px; margin-top: 10px; margin-bottom: 5px; background-color: #244fa7; color: #fff; }
DIV.dl { margin-left: 20px; }

