server_list     my_http

# use syslogd for logging
log
{
    type syslog
    syslog.facility         LOG_LOCAL0
}

my_http
{
    type            http
    addr            tcp4://*:8080
    dir_root        /www            # store your pages in /www into embfs
}
